PYTHONPATH=.


EMBEDDING_BASE_URL=""
EMBEDDING_MODEL=""


CHAT_BASE_URL="YOUR_CHAT_MODEL_BASE_URL"
CHAT_MODEL="YOUR_CHAT_MODEL"
CHAT_MODEL_APIKEY="YOUR_API_KEY"


CHROMA_DB_PATH="./data/chroma_db"

SILICONFLOW_RERANKER_MODEL_API_KEY="YOUR_SILICONFLOW_RERANKER_MODEL_API_KEY"
SILICONFLOW_RERANKER_MODEL="BAAI/bge-reranker-v2-m3"